<<<<<<< HEAD
.box {
  background-color: green;
  height: 300px;
  width: 300px;
}
=======
div {
    display: flex; 
    justify-content: center;
}

.promptBox{
    height: 400px; 
    width: 400px; 
    background-color: blueviolet;
    color: rgb(254, 255, 240);  
}
>>>>>>> d8d5ca566280bc1a27184c621117f8ee945c3022
